@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

/* <!-- ---- Initial Setup ---- --> */

:root{
    --lg-font: 'Kaise Tokumin', serif;
    --sm-font: 'Poppins', serif;
    --pink: #e5345b;
}

body{
    font-family: var(--sm-font);
}