@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

/* <!-- ---- Initial Setup ---- --> */

:root{
    --lg-font: 'Kaise Tokumin', serif;
    --sm-font: 'Poppins', serif;
    --pink: #e5345b;
}

body{
    font-family: var(--sm-font);
}

.btn:not(.mini-icon-button){
    background-color: #fff;
    color: 1px solid rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(223, 223, 223);
}
.btn:not(.mini-icon-button):hover{
    background-color: var(--pink);
    color: #fff;
    border: 1px solid var(--pink);

  
}

.title h2::before{
    position:absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}


/* <!-- ---- Navbar ---- --> */

#brand-name{
    letter-spacing: 5px;
    font-weight:500;
    font-size: 17pt;
}
.navbar{
    box-shadow: 1px 1px 5px 1px rgba(210, 210, 210, 0.8);
}

.nav-item:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-btns .mini-icon-button{
    border:0;
}

.nav-link:hover{
    color: var(--pink) !important;
}

@media(min-width: 992px){
    .nav-item:not(:last-child){
        border-bottom:none;
    }
}

/* <!-- ---- Hero ---- --> */
#hero{
    background: url(../images/banner-img-1.jpg) top/cover;
}

.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font) !important;
}

.carousel-inner .active{
    background-color: rgba(0,0,0,0.1);
    padding: 40px;
    transition: 0.3s;
}

/* <!-- ---- Collections ---- --> */
.active-filter-btn{
    background-color: var(--pink) !important;
    color: #fff !important ; 
}

.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
